<div class="container">
  <div class="col">
  <div class="card ; shadow p-3 mb-5 bg-white rounded" style="width: 18rem">
  <div class="card-body">
    <p class="card-title">{{content.eventName}}</p>
    <u><p class="card-text">{{content.type}}</p></u>
    <p class="card-text">{{content.eventDescription}}</p>
    <p class="card-text mb-2 text-muted">${{content.eventPrice}}</p>
    <p class="card-subtitle mb-2 text-muted">{{content.eventDate}}</p>
    <a href= "{{ linkToEvent }}" class="card-link ; link-success">Open Event</a>
  </div>
  </div>
  </div>
</div>






