<html>
    <body style="background-color:rgb(174, 195, 183);text-align:center">
    <div class = "container">
    <div [hidden]="submitted">
        <p class="font-effect-anaglyph">Update</p>
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
    <div class="form-group">
      <label class="formtitle" for="name">Event Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="oldEvent.eventName" name="name"
             #name="ngModel">
             <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Event Name is required
    </div>
    </div>
    
    <div class="form-group">
      <label class="formtitle" for="type">Event Type</label>
      <input type="text"  class="form-control" id="type"
      required
             [(ngModel)]="oldEvent.type" name="type"
             #type="ngModel">
             <div [hidden]="type.valid || type.pristine"
         class="alert alert-danger">
      Event Type is required
    </div>
    </div>
    
    <div class="form-group">
        <label class="formtitle" for="alterEgo">Event Description</label>
        <input type="text"  class="form-control" id="eventDescription"
               [(ngModel)]="oldEvent.eventDescription" name="eventDescription"
               #description="ngModel">
      </div>
    
      <div class="form-group">
        <label class="formtitle" for="alterEgo">Event Price</label>
        <input type="text"  class="form-control" id="eventPrice"
        required
               [(ngModel)]="oldEvent.eventPrice" name="eventPrice"
               #price="ngModel">
               <div [hidden]="price.valid || price.pristine"
         class="alert alert-danger">
      Event Price is required
    </div>
      </div>
    
      <div class="form-group">
        <label class="formtitledate" for="eventDate">Event Date: yyyy-mm-dd</label>
        <input type="text"  class="form-control" id="eventDate"
        required
               [(ngModel)]="oldEvent.eventDate" name="eventDate"
               #date="ngModel">
               <div [hidden]="date.valid || date.pristine"
         class="alert alert-danger">
      Event Date is required
    </div>
      </div>
    
    <div class="form-group">
      <label class="formtitle" for="power">Event Location</label>
      <select class="form-control"  id="location"
              required
              [(ngModel)]="oldEvent.location" name="location">
        <option *ngFor="let loc of locations" [value]="loc">{{loc}}</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-success" [disabled]="!eventForm.form.valid" >Update</button>
    <!-- <button type="button" class="btn btn-outline-danger" (click)="newEvent(); eventForm.reset()">Clear Form</button> -->
    </form>
    </div> 
    

    <div [hidden]="!submitted">
        <p class="font-effect-anaglyph">Event Updated</p>
        <div class="row">
          <div class="col-xs-3">Event Name:</div>
          <div class="col-xs-9">{{ updatedEvent.eventName }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Event Type:</div>
          <div class="col-xs-9">{{ updatedEvent.type }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Event Date:</div>
          <div class="col-xs-9">{{ updatedEvent.eventDate }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Event Description:</div>
            <div class="col-xs-9">{{ updatedEvent.eventDescription }}</div>
          </div>
        <div class="row">
          <div class="col-xs-3">Event Location:</div>
          <div class="col-xs-9">{{ updateEvent.location }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Event Price:</div>
          <div class="col-xs-9">${{ updatedEvent.eventPrice }}</div>
        </div>
        <br>
        <button class="btn btn-outline-success" (click)="submitted=false">Update Again</button>
      </div>
    
