p.font-effect-anaglyph {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    text-align: right;
    letter-spacing: 3px;
}
.body {
    min-height: 100%
}
.cards {
    position: fixed;
    z-index: 1;
}
.bb {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}